<form method="post" action="{{ path('app_postulation_delete', {'idPostulation': postulation.idPostulation}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ postulation.idPostulation) }}">
    <button class="btn">Delete</button>
</form>
