{% extends 'baseFront.html.twig' %}

{% block title %}Edit Wallet{% endblock %}

{% block contentblock %}
    <section>
    <div class = "container">
    <h1>Edit Wallet</h1>

    {{ include('wallet/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_wallet_index') }}" style="color: red; text-decoration: none; font-weight: bold;">Retour</a>

    {{ include('wallet/_delete_form.html.twig') }}

    </div>
    </section>
{% endblock %}
