{% extends 'baseFront.html.twig' %}

{% block title %}New Reclamation{% endblock %}

{% block contentblock %}
<section>
    <h1>Ajouter une  Reclamation</h1>

    {{ include('reclamation/_form.html.twig') }}

    <a href="{{ path('app_reclamation_index') }}" class="btn-voir-tous">Voir tous</a>
    <style>
    a.btn-voir-tous {
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  background-color: #dc3545;
  border: none;
  border-radius: 4px;
  transition: all 0.3s ease;
}

a.btn-voir-tous:hover {
  background-color: #c82333;
  text-decoration: none;
}
    </style>
    </section>
{% endblock %}
