{% extends 'baseBack.html.twig' %}

{% block title %}Reclamation{% endblock %}

{% block contentblock %}
<section>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 mx-auto my-4">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h3 class="mb-0">Reclamation Description</h3>
        </div>
        <div class="card-body">
          <p class="lead">{{ reclamation.description }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

   {{ include('reclamation/form_Rep.html.twig') }}
   <section>
   {% endblock %}