{% extends 'baseBack.html.twig' %}
{% block title %}Welcome to Freelancy{% endblock %}

{% block contentblock %}
    <h1> Fill the form and click save ! </h1>

    {{ include('question/form.html.twig') }}
 
{% endblock %}