{% extends 'generic/navbar.html.twig' %}

{% block body %}
<form method="POST" style="display:felx; flex-direction:column;">
    <div>
        <label>Username</label>
        <input type="text" name="user">
    </div>
    <div>
        <label>Password</label>
        <input type="text" name="pass">
    </div>
    <input type="submit" value="Login" name="login-submit">
    
</form>
{% endblock %}